.form {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    width: 100%;

    &__title {
        text-align: center;
    }

    &__upload-button {
        margin-left: 30%;
        border-radius: 5px;
        border-color: black;
        border-style: solid;
        width: 40%;
        background-color: rgb(121, 121, 165);
    } 

    &__toggle {
      display: flex;
      flex-direction: row;
    }
}