.button {
    border-radius: 10px;
    border-color: black;
    border-style: solid
}

.upload-button {
    margin-left: 40%; 
    border-radius: 5px;
    border-color: black;
    border-style: solid
}

